.container-text {
  /* position: relative; */
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.bg-img {
    /* The image used */
    background-image: url('../../assets/sky.jpg');
  
    min-height: 250px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  /* .container {
    position: absolute;
    margin: 20px;
    width: auto;
  } */

  .topnav {
    background-color: #333;
    overflow: hidden;
}

  /* The navbar */
  /* .topnav {
    overflow: hidden;
    float: right; */
    
    /* position: fixed;
    top: 0;
    width: 100%; */
  /* } */
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav-right {
    float: right;
  }

  /* Navbar links */
  /* .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  } */
  
  .topnav a:hover{
    /* background-color: #ddd; */
    font-weight: bold ;
    text-decoration: underline;
    /* color: black; */
  }

  

  

/* .main-nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    padding: .5em 1em;
    display: block;
}

.push {
    margin-left: auto;
} */