.cart-item {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid  #1e293b;
    padding: 1rem 0;
    padding: 0px 16px;
    margin: 1rem 1rem;
    margin-top: 2%;
  }
  
  .cart-item h2 {
    margin: 1rem;
    color: #363636;
    text-align: center;
    justify-content: center;
    
  }
  
  .summary {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-weight: bold;
    color: #363636;
    margin-left: 1rem;
  }
  
  .amount {
    font-weight: bold;
    /* border: 1px solid #ccc; */
    padding: 10px 10px;
    border-radius: 6px;
    color: #363636;
    display: flex;
  
  }

  .product{
    max-width: 100px;
  }

  .product-info{
    display: inline-block;
    margin-left: 1rem;
  }
  
  .actions {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
  }
  
  @media (min-width: 768px) {
    .actions {
      flex-direction: row;
    }
  }
  
  .cart-item button{
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color:  #1e293b;
    border: 1px solid #1e293b;
    width: 2rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    /* margin-left: 1rem; */
    margin: 0.25rem;
  }
  
  .cart-item button:hover,
  .cart-item button:active {
    background-color:  #1e293b;
    color: white;
  }