.card {
  display: grid;
  grid-template-rows: max-content 100px 1fr;
  /* background-color: #f5f0f0; */
  /* box-shadow: 0px 1px 10px 0px rgb(221, 221, 221); */
    overflow: inherit;
    margin-bottom: 5%;
  border-radius: 10px 10px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 400px;
  border-radius: 10px 10px;
}

.centered{
  text-align: center;
  margin-top: 3%;
}

.button-edit{

  background-color: #fbfbfd;
  /* background-color: #dfdfe7; */
  
  border: 1px #dfdfe7;
  border-radius: 10px;
  box-sizing: border-box;
  /* color: black; */
  cursor: pointer;
  display: inline-block;
  font-size: 13.3px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 1.1rem;
  font-weight: 600; */
  font-size:smaller ;
  line-height: 1;
  padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
  /* padding: 1rem 1.6rem; */
  text-align: center;
  text-decoration: none #0d172a solid;
  /* box-shadow: 0px 2px 4px rgba(31, 32, 34, 0.25); */
  box-shadow: 0px 2px 4px rgba(55, 56, 58, 0.25);
  margin-left: 1rem;
}

.button-edit:hover {
  background-color: #1e293b;
  color: #fff;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .button-edit{
    font-size: 13.3px;
    margin-bottom: 5%;
    /* padding: 1rem 2rem; */
    padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
  }
}
