.card {
  display: grid;
  grid-template-rows: max-content 150px 1fr;
  overflow: inherit;
  margin-bottom: 5%;
  border-radius: 10px 10px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 265px;
  border-radius: 10px 10px;
  box-shadow: 0px 4px 6px #766e6e;
}

.card img:hover {
  box-shadow: 0px 4px 6px #585353;
  cursor: pointer;
}

.card img:focus{
  transform: scale(1.1);
}

.large{
  display: flex;
  justify-content: center;
}

.large img{
  width: 600px;

}

.content{
display: grid;
max-width: 400px;
margin-top: 3%;
}

.content-edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin-top: 2rem;
}

.content-out {
display: flex;
}

.content-row{
  display: grid;
  justify-items: center;
}

.content-row input{
max-width: 40%;
}

.content-row label{
  max-width: 40%;
  }

.content-edit label{
  font-size: 10px
}

.content-edit input {
  width: 90%;
  border: 0.5px solid black;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 3px;
}

.title{
text-align: center;
font-size: 20px;
margin-bottom: 5px;
}

.description{
  text-align: center;
  font-size: 13.3px;
  margin: 10px;
}

.price{
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
}

.centered{
  text-align: center;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.button-action{
  background-color: #1e293b;
  border: 1px #dfdfe7;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 13.3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:smaller ;
  line-height: 1;
  padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
  text-align: center;
  color: white;
  box-shadow: 0px 2px 4px rgba(55, 56, 58, 0.25);
  margin: 16px;
  width: 50%;
}

.button-action:hover {
  transform: translateY(-2px);
}

.button-edit {
  background-color: #fdfdfd;
  border: 0.5px solid #1e293b;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 13.3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:smaller ;
  line-height: 1;
  padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
  text-align: center;
  color: black;
  box-shadow: 0px 2px 4px rgba(55, 56, 58, 0.25);
  margin: 16px;
  width: 50%;
}

.button-edit:hover{
  transform: translateY(-2px);
}

.button-action:active{
  box-shadow: 0 5px rgb(223, 219, 219);
  transform: translateY(1px);
}

.warning{
  font-size: 10px;
  color: red;
  margin-bottom: -25px;
  margin-top: 10px;
  text-align: center;
}

.swal button{
color:white;
background-color: #1e293b;
}

.custom-button{
  /* color: rgb(0, 0, 0);
  background-color:  rgba(136, 126, 126, 0.04); */
  color:white;
  background-color: #1d2736d2;
  border: none;
  outline: none;
  /* outline-color: #5c5555; */
}

.custom-button:hover{
  color:white;
  background-color: #1e293b;
}




