.wrapper{
    color: black;
}

.navbar,
.navbar-about {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: 10px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}


.navbar ul,
.navbar-about ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    text-align: right;
}

.navbar ul li,
.navbar-about ul li  {
    margin: 0;
    padding: 0;
    display: inline;
}

.navbar ul li a,
.navbar-about ul li a {
    border-radius: 5px;
    display: flex;
    font-size: small;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    margin-top: 5px;
    box-sizing: border-box;
    justify-content: center;
    position: static;
}

.navbar li a:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 5px 1px rgb(253, 245, 245)
}
