.centered {
  text-align: center;
  margin-top: -1rem;
  position: relative;
}

.button-form {
  background-color: #1e293b;
  border: 0 solid #7b7f86;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 6px 5px rgb(249, 250, 255,  0.30);
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: sticky;
  margin-top: 1rem;
}

.button-form:hover{
  box-shadow: 0px 6px 5px rgb(249, 250, 255,  0.68);
  background-color: #1e293b;
  color: #fff;
  transform: translate(-50%, -55%);

}

form {
  max-width: 420px;
  margin: 50px auto;
  margin-top: 1rem;
}

.form-wrapper{
  background-color: #d9d9d91a;
  border-radius: 10px;
  /* margin-left: 20%;
  margin-right:20%; */
  
}


.feedback-input,
.feedback-input[type="file"] {
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid #dbd7d7;
  transition: all 0.3s;
  padding: 13px;
  /* margin-bottom: 15px; */
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  margin-top: 15px;
  border: 2px solid rgba(0, 0, 0, 0.18);
}

.check{
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid rgb(223, 99, 99);
  border-radius: 10px;
  line-height: 22px;
  background-color: transparent;
  transition: all 0.3s;
  padding: 13px;
  /* margin-bottom: 15px; */
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.check:focus{
	border: 2px solid rgba(0, 0, 0, 0.18);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.button-upload {
  background: #1e293b;
  border: 0 solid #7b7f86;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;  
  font-size: 1rem;
  line-height: 1;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 2px 4px rgba(31, 32, 34, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 7%;
  margin-bottom: 1rem;
  transform: translate(50% 50%)
}

.button-upload :hover {
  transform: translate(-50%, -55%);
  /* transform: translateY(2px); */
}