

.centered {
  text-align: center;
  /* margin-top: 3%; */
  margin-top: -1rem;
  position: relative;
}

/* CSS */
.button-form {
  background-color: #1e293b;
  border: 0 solid #7b7f86;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  /* font-size: 1rem; */
  font-size: 16px;
  /* font-weight: 600; */
  line-height: 1;
  /* padding: 0.5rem 2rem; */
  padding: 15px 20px;

  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  /* box-shadow: 0px 2px 4px rgba(31, 32, 34, 0.25); */
  box-shadow: 0px 6px 5px rgb(249, 250, 255,  0.30);
  -webkit-user-select: none;
  touch-action: manipulation;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: sticky;
  margin-top: 1rem;
}

.button-form:hover{
  box-shadow: 0px 6px 5px rgb(249, 250, 255,  0.68);
  background-color: #1e293b;
  color: #fff;
  transform: translate(-50%, -55%);

}

form {
  max-width: 420px;
  margin: 50px auto;
  margin-top: 1rem;
/* display: inline-block; */
}


.feedback-input,
.feedback-input[type="file"] {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid #dbd7d7;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

/* .feedback-input[type="file"]{
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  padding: initial;
  border: initial;
  overflow: hidden !important;
} */


.feedback-input:focus {
  border: 2px solid #1e293b;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.button-upload {
  background: #1e293b;
  border: 0 solid #7b7f86;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;  
  font-size: 1rem;
  line-height: 1;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none #0d172a solid;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 2px 4px rgba(31, 32, 34, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 1rem;
  margin-bottom: 1rem;
  transform: translate(50% 50%)
}

.button-upload :hover {
  transform: translate(-50%, -55%);
  /* transform: translateY(2px); */
}